@CHARSET "ISO-8859-1";



body::after{
  content: "";
  background:url("Images/isep4.jpg");
  background-size:cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

div {
	width:100%;
}

h1 {
	margin-top: 2em;
	text-align: center;
	color: white;
	font-size: 50px;
}

img {
	height: 100px;
	width: 264px;
}

.identification{
    border: 0 none;
    position: relative;
    box-sizing: border-box;
    color: #23232d;
    display: block;
    margin:auto;    
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    padding:10px;
    width: 350px;
}


#user {
	border-radius: 3px 3px 0 0 ;
	border: #DDD;
}
#pass {
	border-radius: 0 0 3px 3px ;
}


#connexion {
	display: block;
    margin:auto; 
    margin-top:10px;
	border: none;
	padding:10px;
	border-radius:3px;
	background-color: #008acc;
	padding:10px;
    width: 350px;;
}


